# You need to create a .env file.  If connecting to the back end at http://localhost:3000
# the .env file would look like.

VITE_BASE_URL=/api

# In this case, the proxy would be used, as configured in vite.config.js/

# If connecting to a render.com back end, the .env file would look like:

VITE_BASE_URL=https://node-homework-sample.onrender.com

# except that the URL might be different.  In this case, the proxy would not be used.

#Sample Google Auth project

VITE_GOOGLE_CLIENT_ID="70307905223-q2aotbi7q35p25a1m9bg6dja862kvug1.apps.googleusercontent.com"